<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="fragments/styling :: headStyles"></div>
    <link rel="stylesheet" href="CSS/standard.CSS">

  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Thank you for using Physiolite Inc.</h2>
          <h4>Below are your results</h4>
          <div class="card mb-3">
            <div class="card-header">
              <h3> Chobani Vanilla Greek Yogurt</h3>
              <h4>2 Servings</h4>
            </div>
            <div class="card-body">
              <p>340.0 Calories</p>
              <p>40.0 Grams of Protein</p>
              <p>40.0 Grams of Sugar</p>
              <p>46.0 Grams of Carbs</p>
              <p>0.0 Grams of Fat</p>
            </div>
          </div>
        </div>
      </div>

      <a th:href="@{/}">
        <button class="btn btn-success">Back to home</button>
      </a>

      <a th:href="@{/foodtracker/new}"
                > <button class = "btn btn-primary">Add a New Meal</button></a>
    </div>

    <div th:replace="fragments/styling :: javascripts"></div>
  </body>
</html>
