<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="fragments/styling :: headStyles"></div>

  </head>
  <body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
      <h1>Create a New Food Post</h1>
      <!-- This form can handle new posts, or updating old posts -->
      <!-- Saving is directed to /blogpost -->
      <form
        action="#"
        th:action="@{/foodtracker}"
        th:object="${foodPost}"
        method="post"
      >
        <div class="form-group">
          <!-- Adding in hidden id attribute, if it is included -->
          <!-- The repositorys .save method will automatically override -->
					<input type="hidden" th:field="*{id}" />

          <!-- The placeholders will show up if the th:field is empty -->
          <input type="text" class="form-control mb-3" placeholder="Name of Food"th:field="*{title}" />

          <input type="number" class="form-control mb-3" placeholder="Calories per serving" th:field="*{author}" />

          <input type="number" class="form-control mb-3" placeholder="Grams of protein per serving" th:field="*{foodNote}" />
          <input type="number" class="form-control mb-3" placeholder="Grams of sugar per serving" th:field="*{sugars}" />
          <input type="number" class="form-control mb-3" placeholder="Grams of carbohydrate per serving" th:field="*{carbohydrates}" />
          <input type="number" class="form-control mb-3" placeholder="Grams of fat per serving" th:field="*{fat}" />

          <!-- Here we will add more once the other logistics are set up to support the other information -->
          <!-- This will include sugars, carbohydrates, fat,  -->

          <button type="Submit" class="btn btn-primary">Submit Post</button>

      </form>
    </div>

    <div th:replace="fragments/styling :: javascripts"></div>

  </body>
</html>
